@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --attachment: fixed;
  --degrees: 115deg;
  --colorStop-1: 3%;
  --colorStop-2: 15%;
  --colorStop-3: 85%;
  --colorStop-4: 97%;
}


body {
  min-height: 100vh;
  background-image: linear-gradient(
    115deg,
    transparent var(--colorStop-1),
    #fe4d3e var(--colorStop-1) var(--colorStop-2),
    #fa7246 var(--colorStop-2) var(--colorStop-3),
    #fe4d3e var(--colorStop-3) var(--colorStop-4),
    transparent var(--colorStop-1)
  );
  /* background-image: linear-gradient(
    var(--degrees),
    transparent var(--colorStop-1),
    #fe4d3e var(--colorStop-1) var(--colorStop-2),
    #fa7246 var(--colorStop-2),
   ),
   radial-gradient(
    circle at 20% 70%,
    rgb(239 208 234 / 0.9),
    rgb(234 201 242 / 0.6),
    rgb(231 238 197 / 0.6),
    rgb(205 240 219 / 0.6),
    rgb(231 237 245 / 0.6)
   ); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
