@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --degrees: 115deg;
  --colorStop-1: 3%;
  --colorStop-2: 15%;
  --colorStop-3: 85%;
  --colorStop-4: 97%;
  --primary: #fe4d3e;
  --list-colorStop: 130px;
  --type-colorStop: 32px;
}


.detail-background {
  min-height: 100vh;
  background-image: linear-gradient(
    115deg,
    transparent var(--colorStop-1),
    var(--primary) var(--colorStop-1) var(--colorStop-2),
    #fa7246 var(--colorStop-2) var(--colorStop-3),
    var(--primary) var(--colorStop-3) var(--colorStop-4),
    transparent var(--colorStop-1)
  );
}

.pokemon-list-background {
  background-image: linear-gradient(
    115deg,
    var(--primary) var(--list-colorStop),
    transparent var(--list-colorStop)
  );
}

.type-background {
  background-image: linear-gradient(
    115deg,
    transparent var(--type-colorStop),
    #5b5f63 var(--type-colorStop) 100%
  );
}

@layer components {
  .input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  }
}